* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: linear-gradient(to right, pink, purple);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.weather-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Sarabun', sans-serif;
    transition: 5s;
}
.weather-container > * {
    margin: 16px auto;
}
.input-container {
    position: relative;
    display: inline;
    padding: 0;
    margin: 10px;
}
input {
    border: none;
    border-bottom: 1px solid white;
    background: none;
    outline: none;
    font-family: 'Sarabun', sans-serif;
    padding: 6px 0;
    color: white;
    font-size: 20px;
    transition: .3s;
}
label {
    transition: .3s;
    color: white;
    font-size: 20px;
    position: absolute;
    left: 0;
    bottom: 0;
    text-transform: capitalize;
}
input:focus {
    border-color: lightgray;
}
input:focus + label,
input:not(:placeholder-shown) + label {
    bottom: 26px;
    font-size: 14px;
}
button {
    display: block;
    margin: 30px auto 20px;
    padding: 12px 24px;
    border-radius: 12px;
    color: white;
    background: black;
    cursor: pointer;
    border: none;
    outline: none;
    transition: .3s;
    font-family: 'Sarabun', sans-serif;
    font-size: 18px;
}
.disabled-button {
    cursor: not-allowed;
    background: gray;
}
button:hover {
    color: black;
    background: white;
}
i {
    font-size: 100px;
    color: whitesmoke;
}
h2 {
    font-size: 32px;
}
h3 {
    font-size: 24px;
}
h1, h2, h3 {
    letter-spacing: 1.4px;
}
form {
    position: relative;
}
.error-message {
    position: absolute;
    background: black;
    color: whitesmoke;
    padding: 8px 12px;
    font-size: 20px;
    border-radius: 12px;
    left: 34%;
    top: 25%;
    z-index: 1;
    opacity: 0;
    animation: errorDisplay 3s linear;
    animation-play-state: paused;
}
@keyframes errorDisplay {
    1% {
        opacity: 1;
        top: 25%;
    }
    60% {
        top: 0;
        opacity: 1;
    }
    100% {
        opacity: 0;
        top: -30%;
    }
}

@import url('https://fonts.googleapis.com/css2?family=Sarabun&display=swap');